
body
{
	background: url("../IMG/green.png") #efeee7 center center repeat;
}

h1
{
	font-family: Georgia;
/*	margin-bottom: 50px;
*//*	background-color: green;
*/	float: left;
	font-size: 25px;
	font-weight: bold;
/*	background-color: lightgray;
*/	background-size: 10px;
	padding: 8px;
	margin-right: 10px;-moz-border-radius:10px;  /* for Firefox */
	-webkit-border-radius:10px; /* for Webkit-Browsers */
	border-radius:10px; /* regular */
	margin-right: 5px;
	background-size: 0px 10px;
	color: #4aaaa5;


}

h2, h4, h5
{
	font-size: 25px;
	font-weight: bold;
	font-family: Georgia;
	margin-left: 10px;
	margin-top: 10px;
	color: #4aaaa5;
}

h3
{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: Georgia;
	margin-top: 10px;
	color: #4aaaa5;
}

header

{
	width: 100%;
/*	background-color: #ffffff;
*/	border-style: solid;
	border-color: #cccccc;
	margin-top: 10px;

}

a 

{
	text-decoration: none;
	color: #4aaaa5; 

}

p
{
/*	padding: 5px;
*/	font-family: Helvetica;
	word-spacing: 1.5px;
	line-height: 150%;
	padding: 3px;
	color: #777777;
}

.content

{
	width: 960px;
	margin: 0 auto;
/*	background-color: 
*/


}

.header1

{
	float: left;
	margin-left: 5px;
/*	background-color: green;
*/	}

.nav
{
	padding: 10px;
	background-color: white;
	text-align: right;
	font-family: sans-serif; 
	font-weight: 900; 
	color: #4aaaa5; 
	text-decoration: none;
	border: 2px solid;
	-moz-border-radius:10px;  /* for Firefox */
	-webkit-border-radius:10px; /* for Webkit-Browsers */
	border-radius:10px; /* regular */
	border-color: #cccccc;

}


footer
{
    background-color: #666666;
    width: 100%;
    height: 20px;
    color: white;
    padding: 10px;
    text-align: center;
    float: left;
/*    margin-left: 280px;
*/
   position:fixed;
   bottom:0;

   }

.maincontent {
    width: 650px;
    background-color: white;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: justify;
    font-size: 12px;
    border-style: solid;
    border-color: #dddddd;
    border: 2px solid;
	-moz-border-radius:10px;  /* for Firefox */
	-webkit-border-radius:10px; /* for Webkit-Browsers */
	border-radius:10px; /* regular */
	border-color: #dddddd;
}
.sidebar
{
    width: 270px;
    height: 110px;
    background-color: #ffffff;
    margin: 4 auto;
    float: right;
    border-style: solid;
    border: 2px solid;
	-moz-border-radius:10px;  /* for Firefox */
	-webkit-border-radius:10px; /* for Webkit-Browsers */
	border-radius:10px; /* regular */
	border-color: #dddddd;
}

#profile
{
	width: 150px;
	height: 150px;
	float: left;
	margin: auto;
	padding: 5px;
}

.image
{
	margin-left: 60px;

}

.footer1
{
font-size: 14px;
color: #4aaaa5;

}
/*Porfolio Page*/


div.remix {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 18px;
    float: right;

} 

div.remix1 {
    position: absolute;
    top: 100px;
    width: 200px;
    height: 50;
	color: #4aaaa5;
    font-size: 25px;
    border: solid;
    border-color: white;
    background-color: white;
    text-align: center;

}

div.tigerwall
{
    position: relative;
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 22px;
    margin-top: 18px;

} 

div.tigerwall1 
{
    position: absolute;
    top: 100px;
    width: 200px;
    height: 50;
	color: #4aaaa5;
    font-size: 25px;
    border: solid;
    border-color: white;
    background-color: white;
    text-align: center;
}

div.journey
{
    position: relative;
    width: 200px;
    height: 200px;
    top: 5px;
    margin-bottom: 60px;
    padding: 0 auto;

} 

div.journey1 
{
    position: absolute;
    top: 100px;
    width: 200px;
    height: 50;
    color: #4aaaa5;
    font-size: 25px;
    border: solid;
    border-color: white;
    background-color: white;
    text-align: center;
}

div.TSF
{
    position: relative;
    width: 200px;
    height: 200px;
    top: 5px;
    margin-bottom: 60px;
    padding: 0 auto;
    float: right;

} 

div.TSF1 
{
    position: absolute;
    top: 100px;
    width: 200px;
    height: 50;
	color: #4aaaa5;
    font-size: 25px;
    border: solid;
    border-color: white;
    background-color: white;
    text-align: center;
}

div.translate
{
    position: relative;
    width: 200px;
    height: 200px;
    top: 5px;
    margin-bottom: 60px;
    padding: 0 auto;
    float: right;
    margin-right: 21px;

} 

div.translate1 
{
    position: absolute;
    top: 100px;
    width: 200px;
    height: 50;
	color: #4aaaa5;
    font-size: 25px;
    border: solid;
    border-color: white;
    background-color: white;
    text-align: center;
   
}

div.crystal
{
    position: relative;
    width: 200px;
    height: 200px;
    top: 5px;
    margin-bottom: 60px;
    padding: 0 auto;

} 

div.crystal1 
{
    position: absolute;
    top: 100px;
    width: 200px;
    height: 50;
	color: #4aaaa5;
    font-size: 25px;
    border: solid;
    border-color: white;
    background-color: white;
    text-align: center;
}


/*Contact Page*/

input[type="email"]
{
	width: 500px;
	height: 25px;
	border: solid;
	border-color: lightblue;
	border-radius: 10px;
	margin-left: 10px;

}

textarea[name="message"]

{
	width: 500px;
	height: 300px;
	border: solid;
	border-color: lightblue;
	border-radius: 10px;
	margin-left: 10px;

}


.email

{
	font-weight: bold;
	font-size: 18px;
	color: #4aaaa5;
	margin-left: 10px;
}

.message

{
	font-weight: bold;
	font-size: 18px;
	color: #4aaaa5;
	margin-left: 10px;

}

#submit

{
	margin-left: 10px;
	background-color: lightblue;
	color: black;
	font-weight: bold;
	width: 70px;


}