
body
{
	background: url("../IMG/vintage.png") #efeee7 center center repeat;
}

h1
{
	font-family: Georgia;
	margin-left: 80px;
	background-color: green;
}

header
{
	width: 100%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}
.content

{
	width: 960px;
	margin: 0 auto;
	display: inline;

}

.header1

{
	float: left;
	}

.nav
{
	padding: 15px;
	background-color: white;
	text-align: right;



}

.footer
{
	background-color: #666666;
	width: 100%
	color: white;
	padding: 5px;
	text-align: center;

}

.maincontent {
	width:60%;
}