
body
{
	background: url("../img/vintage.png") #efeee7 center center repeat;
}

.content

{
	width: 960px;

}

header
{
	background: #ffffff;
	display: inline;
}

nav
{
	padding: 10px

}

.footer
{
	background-color: #666666;
	width: 100%
}